@model IA.Weather.Web.Models.AppViewModel

@{
    ViewBag.Title = "Weather Service";
}

@Scripts.Render("~/scripts/app.js")
@Styles.Render("~/Content/font-awesome.css")

<div class="jumbotron" style="background-color: #428bca; color: white; padding-top: 30px; padding-bottom:30px">
    <div style="float: left">
        <h1>Weather Service</h1>
    </div>
    <div style="float: right">
        <h1>
            <i id="spinner" class="fa fa-spinner fa-spin hidden" style="font-size: 48px; color: aliceblue"></i>
        </h1>
    </div>
    <br />
    <br />
    <div style="clear: both; width: 80%">
        <hr style="border-color: aliceblue">
        <p class="lead" style="color: aliceblue">Select a country, choose a city and finally choose a weather provider to get the weather.</p>
    </div>
</div>


<div id="error" class="alert alert-danger" style="@(@Model.Errors.Any() ? "" : "display:none")">
    <strong>Service unavailable</strong> - Please try again later. The following errors occurred:
    <br />
    <br />
    <ul>
        @foreach (var e in Model.Errors)
        {
            <li>@e</li>
        }
    </ul>
</div>

<div id="container">
    <div class="row">

        <!--Selection + action-->
        <div class="col-md-4">
            <h3>Country</h3>
            <p>
                Select a country:
            </p>
            <select id="countriesDropDown" style="width: 100%"></select>
            <h3>City</h3>
            <div>
                <p id="citiesText">
                    Please select a country first
                </p>
                <select id="citiesDropDown" style="width: 100%; display: none"></select>
            </div>
            <h3>Service</h3>
            <p>
                Select a weather service:
            </p>
            <select id="weatherServicesDropDown" style="width: 100%"></select>
            <br />
            <br />
            <a id="goButton" class="btn btn-default btn-primary disabled" style="max-width: 280px; width: 100%">Go!</a>
        </div>

        <!--Results-->
        <div class="col-md-8">

            <div id="resultErrorContainer" style="display: none">
                <br />
                <div class="alert alert-danger" >
                    <strong>There was an error trying to load the weather. The message was:</strong>
                    <br />
                    <p id="resultErrorText"></p>
                </div>
            </div>

            <div id="resultContainer" style="display: none">
                <h2>
                    Weather <small id="resultCountryText"></small><small>, </small> <small id="resultCityText"></small>
                </h2>

                <!--Tabs-->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#overviewContainer">Overview</a></li>
                    <li><a data-toggle="tab" href="#detailedContainer">Detailed</a></li>
                </ul>

                <div class="tab-content">
                    <!--Overview tab-->
                    <div id="overviewContainer" class="tab-pane fade in active">
                        <h3 id="resultDescPrimaryText"></h3>
                        <p id="resultDecSecondaryText"></p>
                        <p>
                            Current Temperature: <span id="resultCurrentTempText"></span>
                        </p>
                    </div>
                    <!--Detailed tab-->
                    <div id="detailedContainer" class="tab-pane fade">
                        <table id="detailedTable" class="table table-striped" style="margin-top: -1px"></table>
                    </div>
                </div>

            </div>
            <p id="resultText"></p>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            app.init(@Html.Raw(Json.Encode(Model)));
        });
    </script>
}