@model IA.Weather.Web.Models.AppViewModel

@{
    ViewBag.Title = "Weather Service";
}

@Scripts.Render("~/scripts/app.js")
@Styles.Render("~/Content/font-awesome.css")

<div class="jumbotron">
    <div style="float: left">
        <h1>Weather Service</h1>
    </div>
    <div style="float: right">
        <h1>
            <i id="spinner" class="fa fa-spinner fa-spin hidden" style="font-size: 48px; color: black"></i>
        </h1>
    </div>
    <p style="clear:left" class="lead">Select a country, choose a city and finally choose a weather provide to get the weather.</p>
</div>

<div id="error" class="alert alert-danger" style="@(@Model.Errors.Any() ? "" : "display:none")">
    <strong>Service unavailable</strong> - Please try again later. The following errors occurred:
    <br />
    <br />
    <ul>
        @foreach (var e in Model.Errors)
        {
            <li>@e</li>
        }
    </ul>
</div>

<div id="container">
    <div class="row">
        <div class="col-md-4">
            <!--Country selection-->
            <h2>Country</h2>
            <p>
                Select a country:
            </p>
            <select id="countriesDropDown" style="width: 100%"></select>
            <!--City selection-->
            <h2>City</h2>
            <div id="citySelectCountry">
                <p>
                    <i>Please select a country first</i>
                </p>
            </div>
            <div id="cityNoneFound" style="display: none">
                <p>No cities were found for the selected country</p>
            </div>
            <div id="citySelectCity" style="display: none">
                <p>
                    Select a city:
                </p>
                <select id="citiesDropDown" style="width: 100%"></select>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Weather Service</h2>
            <p>
                Select a weather service:
            </p>
            <select id="weatherServicesDropDown" style="width: 100%"></select>
            <br />
            <br />
            <a class="btn btn-default btn-primary" style="max-width: 280px; width: 100%">Go!</a>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            app.init(@Html.Raw(Json.Encode(Model)));
        });
    </script>
}